<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Origin Tracking</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
</head>

<body>
    <div class="topnav">
        <a {{#if (eq active 'home' )}}class="active" {{/if}} onclick="window.location.href='/'">Home</a>
        {{#if (eq role 'farmer')}}
        <a onclick="window.location.href='/handle?source=add'">Add product</a>
        {{/if}}
        {{#if (eq role 'company')}}
        <a {{#if (eq active 'purchase' )}}class="active" {{/if}} onclick="window.location.href='/purchase'">Purchase</a>
        {{/if}}
        <a {{#if (eq active 'inventory' )}}class="active" {{/if}}
            onclick="window.location.href='/inventory'">Inventory</a>
    </div>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {{#if script}}
    <script src="/javascripts/{{script}}.js"></script>
    {{/if}}
</body>

</html>