<div class="user-info">
    <form>
        <label for="productName">Name:</label>
        <input type="text" id="productName" name="productName" placeholder="Product Name" required><br>

        <label for="productPrice">Price:</label>
        <input type="number" id="productPrice" name="productPrice" placeholder="Product Price" required><br>

        <input type="submit" id="createBtn">
    </form>
</div>