<table class="product-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Lot</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>5731253571</td>
            <td>Product A</td>
            <td>$19.99</td>
            <td><button class="buy-button">Edit</button></td>
        </tr>
    </tbody>
</table>