<span style="display: none;" id="inv-username">{{username}}</span>
{{#if isFarmer}}
<div class="inv-container">
    <div class="inv-left">
        <div class="user-info">
            <form>
                <label for="productName">Name:</label>
                <input type="text" id="productName" name="productName" placeholder="Product Name" required><br>

                <label for="productPrice">Price:</label>
                <input type="number" id="productPrice" name="productPrice" placeholder="Product Price" required><br>

                <input type="submit" id="addEditBtn">
            </form>
        </div>
    </div>
    <div class="inv-right">
        <table class="inv-product-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Lot</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th id="action-farmer">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{{else}}
<div style="margin-top: 50px;">
    <h1 style="text-align: center;text-transform: uppercase;">Your inventories</h1>
    <table class="product-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Lot</th>
                <th>Name</th>
                <th>Price</th>
                {{#if isFarmer}}<th id="action-farmer">Action</th>{{/if}}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{{/if}}