<table class="product-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Lot</th>
            <th>Name</th>
            <th>Price</th>
            <th>Owner</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>