<table class="product-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Owner</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Product A</td>
            <td>$19.99</td>
            <td>A Trung</td>
            <td>District 8</td>
            <td><button class="buy-button">Purchase</button></td>
        </tr>
    </tbody>
</table>