<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Origin Tracking</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
</head>

<body>
    {{!-- loading component --}}
    <div id="loading" style="display: none;">
        <div class="loading-spinner"></div>
    </div>

    {{!-- slide background --}}
    <div class="slideshow">
        <div class="item active">
            <img src="./image/bg1.jpg" alt="Slide 1" />
        </div>
        <div class="item">
            <img src="./image/bg2.jpg" alt="Slide 2" />
        </div>
        <div class="item">
            <img src="./image/bg3.jpg" alt="Slide 3" />
        </div>
    </div>

    {{!-- main component --}}
    <div class="topnav">
        <div>
            <a {{#if (eq active 'home' )}}class="active" {{/if}} onclick="window.location.href='/'">Home</a>
            {{#if (eq role 'company')}}
            <a {{#if (eq active 'purchase' )}}class="active" {{/if}} onclick="window.location.href='/purchase'">Purchase</a>
            {{/if}}
            <a {{#if (eq active 'inventory' )}}class="active" {{/if}}
                onclick="window.location.href='/inventory'">Inventory</a>
        </div>
        <div style="float: right;">
            <a onclick="window.location.href='/account/logout'">Log out</a>
        </div>
    </div>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {{#if script}}
    <script src="/javascripts/{{script}}.js"></script>
    {{/if}}
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentIndex = 0;
        var slides = document.querySelectorAll('.item');

        function showSlide(index) {
            slides.forEach(function (slide, i) {
                slide.classList.toggle('active', i === index);
            });
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % slides.length;
            showSlide(currentIndex);
        }

        setInterval(nextSlide, 4000);
    });
</script>

</html>